<?xml version="1.0" encoding="UTF-8" ?>
<!-- Apache Commons Configuration -->
<configuration>
  <header>
    <result delimiterParsingDisabled="true" forceReloadCheck="true" />
  </header>
    <properties fileName="file:/etc/dataone/node.properties">
        <reloadingStrategy refreshDelay="5000"
            config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
    </properties>
    <properties fileName="ldapService.properties"/>
    <properties fileName="registryLdap.properties"/>
    <properties fileName="identity.properties"/>
    <properties fileName="reserveIdentifier.properties"/>
</configuration>